rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{order} {
      allow write: if request.auth.uid != null;
    }
    match /users/{user} {
      allow read, write: if request.auth.uid == user;
    }
    match /available_toppings/{topping} {
      allow read;
    }
    match /available_countertops/{countertop} {
      allow read;
    }
    match /available_drinks/{drink} {
      allow read;
    }
    match /pizzas/{pizza} {
      allow read;
    }
    match /feedbacks/{feedback} {
      allow write: if request.auth.uid != null;
    }
  }
}